/* Header General */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  padding: 0;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Content container */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

/* Logo Styling */
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header__logo-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Menú de navegación */
.header__nav {
  display: flex;
  gap: 20px;
}

/* Menú oculto por defecto en móviles */
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.header__menu li {
  display: inline-block;
}

.header__menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.header__menu a:hover {
  background-color: #5e35b1;
  border-radius: 5px;
}

/* Botón de hamburguesa (solo en móvil) */
.header__menu-toggle {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Estilos para el menú en dispositivos pequeños (responsive) */
@media (max-width: 768px) {
  .header__menu {
    display: none; /* Menú oculto en móviles por defecto */
    flex-direction: column;
    width: 100%;
    background-color: #282c34;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px 0;
    gap: 0;
  }

  .header__menu-toggle {
    display: block; /* Mostrar el botón de hamburguesa */
  }

  /* Mostrar el menú cuando se activa el estado de abrir (isMenuOpen) */
  .header__nav.open .header__menu {
    display: flex;
  }
}
