/* Estilos del contenedor principal */
.account-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    width: 400px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.8s ease-out;
}

/* Título de la tarjeta */
.account-card h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Botones generales */
.button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

/* Botón azul */
.button-primary {
    background-color: #007BFF;
    color: #FFF;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-primary:active {
    transform: scale(0.95);
}

/* Botón verde */
.button-success {
    background-color: #143a8d;
    color: #FFF;
}

.button-success:hover {
    background-color: #0781ec;
}

.button-success:active {
    transform: scale(0.95);
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Contenedor de botones */
.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

/* Botón flotante */
.floating-button {
    position: absolute;
    top: 485px;
    left: 200px;
}

.floating-button button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .account-container {
        width: 90%;
        padding: 20px;
    }

    .account-card h1 {
        font-size: 1.5rem;
    }

    .button {
        width: 100%;
        font-size: 0.9rem;
        padding: 12px;
    }

    .button-group {
        flex-direction: column;
    }

    .floating-button {
        top: 90%; /* Ajustamos la posición para que no se quede fuera de la vista */
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 480px) {
    .account-container {
        padding: 15px;
    }

    .account-card h1 {
        font-size: 1.3rem;
    }

    .button {
        font-size: 0.8rem;
        padding: 10px;
    }

    .floating-button button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
